.pos-r {
    position: relative
}

.combo-details-icon {
    display: inline-block;
    background-size: 269px 417px;
    vertical-align: middle
}

.combo-icon-01 {
    width: 114px;
    height: 67px;
    background-position: 0 0
}

.combo-icon-02 {
    width: 269px;
    height: 92px;
    background-position: 0 -69px
}

.combo-icon-03 {
    width: 111px;
    height: 108px;
    background-position: 0 -163px
}

.combo-icon-04 {
    width: 132px;
    height: 103px;
    background-position: 0 -273px
}

.combo-icon-05 {
    width: 97px;
    height: 39px;
    background-position: 0 -378px
}
.container-r5 {
    background: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid #e1e0e0;
    -moz-box-shadow: 0 2px 1px #e1e0e0;
    -webkit-box-shadow: 0 2px 1px #e1e0e0;
    box-shadow: 0 0 2px #e1e0e0;
}

.my_table td {
    border: 1px solid #dab96a;
    padding: 3px;
    font: 15px/30px '΢���ź�';
}

.my_table tr td a strong {
    color: #FF6600;
}

.tab_title td {
    font-weight: bold;
    background-color: #dab96a;
    color: #fff;
}

.my_table tr.tab_dataBG {
    background: none repeat scroll 0 0 #fff;
}

/*��һ����*/

.crumbs-bar {
    margin: 0 0 15px;
    color: #444;
    padding: 0 20px;
    font-family: simsun, \5b8b\4f53;
}

.crumbs-bar a {
    color: #999;
}

.crumbs-bar a:hover {
    color: #444;
    text-decoration: none;
}

.c-detail-top {
    padding: 15px;
}

.c-line-box {
    padding-top: 20px;
}

.c-line-box .pic-box {
    overflow: hidden;
}

.pic-scroll .prev,
.pic-scroll .next,
.book_btn {
    background: url(../img/btn-icon.png) no-repeat;
}

.pic-scroll {
    width: 102px;
}

.pic-scroll .prev,
.next {
    display: block;
    width: 102px;
    height: 44px;
}

.pic-scroll .prev {
    background-position: -156px -47px;
    //margin-bottom: 2px;
}

.pic-scroll .prev.disable {
    background-position: -156px 0 !important;
}

.pic-scroll .prev:hover,
.prev:active {
    background-position: -156px -234px;
}

.pic-scroll .next {
    background-position: -156px -140px;
}

.pic-scroll .next.disable {
    background-position: -156px -93px !important;
}

.pic-scroll .next:hover,
.next:active {
    background-position: -156px -187px;
}

.pic-scroll .next.disable:hover,
.pic-scroll .next.disable:active {
    background-position: -156px -93px;
}

.pic-scroll .prev.disable:hover,
.pic-scroll .prev.disable:active {
    background-position: -156px 0;
}

.pic-scroll .pic-list {
    width: 102px;
    height: 210px;
    overflow: hidden;
}

.pic-scroll .pic-list .pic-small {
    overflow: visible;
    height: 1000px;
}

.pic-scroll .pic-list .pic-small li {
    float: left;
    margin-bottom: 2px;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

.pic-scroll .pic-list .pic-small li.current,
.pic-list .pic-small li:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

.pic-large {
    float: right;
    height: 300px;
    position: relative;
    z-index: 1;
}

.pic-large .big-pic {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    *display: block;
    *font-size: 290px;
}

.pic-large .big-pic img {
    vertical-align: middle;
    width: inherit;
    height: 300px;
}

.pic-large .pic-inf {
    position: absolute;
    bottom: 0;
    width: 430px;
    padding: 6px 10px;
    line-height: 20px;
    color: #fff;
}

.pic-large .pic-inf {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#33000000', endColorstr='#33000000');
}

:root .pic-large .pic-inf {
    filter: none;
    background: rgba(0, 0, 0, 0.4);

}

/*.line-sum-inf { width:330px; float:left;}
.line-sum-inf .ln-inf-item { overflow:hidden; display:block; line-height:24px; padding-bottom:4px; zoom:1;}
.line-sum-inf .ln-inf-item dt { float:left;display:block; width:70px; color:#999; text-align:right; overflow:hidden; }
.line-sum-inf .ln-inf-item dd { float:left;display:block; padding-left:5px; width:255px; color:#444; }
.line-sum-inf .check_date{color: #71b32b; margin-left:5px;}
.price_box {float:right;margin-bottom:10px;zoom:1;}
.price_box .price {margin-bottom:10px;font-family:"microsoft yahei";color:#b7cc03;}
.price_box .price strong {font:normal 36px Arial,Helvetica, sans-serif,"microsoft yahei";}
.price_box .price strong b {font-size:18px;font-weight:normal;}
.ln-highlight{ clear:both; line-height:22px; color:#4f4f4f; padding-top:15px; padding-left:5px;}
.ln-highlight .hh-tt{ padding-bottom:5px;}
.ln-highlight-cont{ height:90px; overflow:hidden;}*/

.jg_qr_box {
    color: #fff;
    height: 54px;
    line-height: 54px;
    background-color: #8EAD1E;
}

.jg_qr_box span {
    font-size: 18px;
    margin-left: 20px
}

.jg_qr_box span b {
    font-weight: bold;
    font-size: 26px
}

.tongji {
    //margin-top: 54px;
    padding: 10px 0;
    border-bottom: 1px solid #e7e7e7
}

.tongji div {
    color: #666;
    height: 40px;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #e7e7e7;
    margin-bottom: 10px;
display: inline-block;
}

.tongji div.bor_0 {
    border: 0
}

.tongji div b {
    color: #fc853d;
    display: block;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
}

.show_msg {
    padding: 10px;
}

.show_msg span {
    color: #333;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
}

.show_msg span b {
    color: #999;
    font-style: normal;
    font-weight: 300;
}

.show_msg2 {
    text-align: center;
}

.show_msg2 .ewmimg {
    float: right;
    height: 100px;
    width: 100px;
    margin-top: 10px;
}
.box_xz {
    padding: 10px;
    background: #fff9eb;
    border: 1px solid #eaeaea;
}

.box_sml {
    margin-top: 10px;
}

.box_sml strong {
    color: #999;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 500
}

.jglx,
.cf_date {
    width: 360px;
}

.jglx a {
    height: 26px;
    line-height: 26px;
    margin: 0 10px 10px 0;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #cdcdcd
}

.jglx a.on {
    height: 24px;
    line-height: 24px;
    border: 2px solid #ff9600;
}

.add_num p {
    margin-bottom: 10px
}

.add_num em {
    color: #999;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-style: normal;
}

.add_num span {
    height: 30px;
    line-height: 30px;
}

.add_num span a{
    height: 28px;
}

.add_num span a,
.add_num span input {
display: inline-block;
    width: 44px;
    text-align: center;
    border: 1px solid #cdcdcd
}

.add_num span input {
    padding: 0;
    border-left: 0;
    border-right: 0;
    font-size: 14px
}

.add_num b {
    height: 30px;
    line-height: 30px;
}

.add_num b s {
    color: #ff4c2e;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.jiejia {
    margin-top: 20px
}

.jiejia span.zj {
    color: #333;
    font-size: 14px;
    line-height: 36px;
}

.jiejia span.zj b {
    color: #ff4c2e;
    font-size: 26px;
    font-weight: bold
}

.jiejia a.yd_btn {
    float: right;
    color: #fff;
    width: 186px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ff570d;
    background: #ff9600;
    border-radius: 3px
}

.jiejia span.a1 {
    float: right;
    line-height: 36px;
}

/*TAB�л���ʼ*/

.outer_line {
    width: 1100px;
    margin: 0 auto;
}

.tab_line {
    overflow: hidden;
    zoom: 1;
    margin: 0 auto;
    width: 1100px;
}

.tab_line li {
    float: left;
    color: #fff;
    width: 160px;
    height: 70px;
    cursor: pointer;
    margin-right: 20px;
    line-height: 70px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.tab_line li.current {
    color: #fff;
}

.content_line {
    margin-top: 10px;
}

.m-nav02 {
    display: none;
    height: 70px;
    left: 0;
    position: fixed;
    _position: absolute;
    //_top: expression(eval(document.documentElement.scrollTop));
    top: 0;
    width: 100%;
    z-index: 990;
    background: #f2f2f2;
}

.m-nav02 .tab_line {
    overflow: hidden;
    zoom: 1;
    margin: 0 auto;
    width: 1100px;
}

.m-nav02 .tab_line li {
    float: left;
    color: #fff;
    width: 160px;
    height: 70px;
    cursor: pointer;
    margin-right: 20px;
    line-height: 70px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.m-nav02 .tab_line li.current {
    color: #fff;
}

/*TAB�л�����*/

/*��һ���������*/

/*pk*/

.pk {
    height: 600px;
    font-family: 'Microsoft YaHei';
}

.pk h2,
.niuy h2 {
    margin-bottom: 45px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

.pk h2 a,
.niuy h2 a {
    color: #343434;
}

.pk-l {
    width: 360px;
    box-shadow: 3px 3px 5px #e6e6e6;
    border-radius: 6px;
    overflow: hidden;
}

.pk-l h3,
.pk-r li h3 {
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background: #96c82b;
}

.pk-l p,
.pk-r li p {
    height: 53px;
    line-height: 53px;
    text-align: center;
    font-size: 14px;
    color: #555555;
    border: 1px solid #eaeaea;
    border-top: none;
}

.pk-mid {
    width: 94px;
    padding: 0 0 0 33px;
}

.pk-mid h3 {
    height: 58px;
    //background: url(images/pk_tit.gif) no-repeat center;
}

.pk-mid h4 {
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 18px;
    color: #f1553f;
    //background: url(../images/pk_bg2.gif) no-repeat center;
}

.pk-mid .h4-black {
    color: #6e6e6e;
}

.pk-r {
    width: 680px;
    box-shadow: 3px 3px 5px #e6e6e6;
    border-radius: 6px;
    overflow: hidden;
}

.pk-r li {
    float: left;
    width: 340px;
}

.pk-r li h3 {
    background: #6e6e6e;
    border-right: 1px solid #eaeaea;
}

.pk-r .li2 p {
    border-left: none;
}

/*pk_end*/

.toggle-block-wrap .toggle-nav-list {
    padding-bottom: 30px
}

.toggle-block-wrap .toggle-nav-item button {
    width: 160px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    color: #343434
}

.toggle-block-wrap .toggle-nav-item button:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    background-color: #00a9b3;
    color: #fff
}

.toggle-block-wrap .toggle-nav-item.active button {
    background-color: #00a9b3;
    color: #fff
}

.toggle-block-wrap .nav-first-wrap .t-n-title {
    font-size: 30px;
    color: #343434;
    text-align: center;
    height: 30px;
}

.toggle-block-wrap .nav-first-wrap .t-n-word {
    font-size: 18px;
    color: #444242;
    text-align: center;
}

.toggle-block-wrap .nav-first-wrap .t-n-p-wrap {
    margin-top: 40px;
    margin-bottom: 50px;
}

.toggle-block-wrap .nav-first-wrap .t-n-p-wrap .img-wrap {
    width: 220px;
    height: 210px;
    border-radius: 8px;
    display: inline-block;
    position: relative;
}

.toggle-block-wrap .nav-first-wrap .t-n-p-wrap .img-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 270px;
    top: 0;
    left: 0;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.3s;
    text-align: center;
    font-size: 45px;
    margin-left: 60px;
}

.toggle-block-wrap .nav-first-wrap .t-n-p-wrap .img-cover .wrap {
    display: inline-block;
    line-height: normal;
    font-size: 24px
}

.toggle-block-wrap .nav-first-wrap .t-n-p-wrap .img-cover i {
    position: initial;
    font-size: 70px
}

.toggle-block-wrap .nav-first-wrap .t-n-p-wrap .img-cover:hover {
    opacity: 0.7;
    filter: alpha(opacity=70)
}

.toggle-block-wrap .nav-first-wrap .t-n-p-wrap img {
    width: 220px;
    height: 210px;
    border-radius: 8px;
    margin-left: 60px;
}

.toggle-block-wrap .nav-first-wrap .t-n-p-wrap i {
    position: absolute;
    right: -50px;
    top: 100px
}

.toggle-block-wrap .tree-wrap {
    text-align: center;
    margin-bottom: 30px
}

.toggle-block-wrap .maze-1-wrap {
    padding: 60px 390px 100px 30px;
    position: relative;
    border-top: 22px solid #323a45;
    border-right: 19px solid #323a45;
    margin-right: 90px;
    margin-left: 20px
}

.toggle-block-wrap .maze-right-curve {
    position: absolute;
    right: -22px;
    top: -30px
}

.toggle-block-wrap .maze-1-t-wrap {
    position: absolute;
    left: -20px;
    top: -37px;
    transform: rotate(-4deg)
}

.toggle-block-wrap .maze-1-t {
    background-color: #00a9b3;
    display: inline-block;
    padding: 0 40px;
    height: 57px;
    line-height: 57px;
    color: #fff;
    font-size: 30px;
    min-width: 440px
}

.toggle-block-wrap .maze-2-t-wrap {
    position: absolute;
    right: -88px;
    top: -37px;
    transform: rotate(4deg);
    text-align: right
}

.toggle-block-wrap .maze-2-t-wrap .maze-1-t {
    padding-right: 120px
}

.toggle-block-wrap .combo-arrow-left {
    position: absolute;
    right: -32px;
    top: -1px
}

.toggle-block-wrap .combo-arrow-right {
    position: absolute;
    left: -32px;
    top: -1px
}

.toggle-block-wrap .maze-2-wrap {
    padding: 50px 70px 90px 488px;
    position: relative;
    border-top: 22px solid #323a45;
    border-left: 20px solid #323a45;
    margin-right: 90px;
    margin-left: 20px
}

.toggle-block-wrap .maze-left-curve {
    position: absolute;
    left: -38px;
    top: -31px
}

.toggle-block-wrap .maze-right-curve-last {
    position: absolute;
    left: -2px;
    top: -75px
}

.toggle-block-wrap .m-img-wrap {
    position: absolute;
    z-index: 1
}

.toggle-block-wrap .m-img-wrap.i-left {
    left: 70px;
    top: -115px
}

.toggle-block-wrap .m-img-wrap.i-right {
    right: -96px;
    bottom: -115px
}

.toggle-block-wrap .m-img-wrap .img-wrap {
    width: 415px;
    height: 216px;
}

.toggle-block-wrap .m-img-wrap img {
    width: 100%;
    height: 100%;
}

.toggle-block-wrap .img-mask {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0
}

.toggle-block-wrap .custom-content {
    padding: 0;
    padding-left: 250px
}

.toggle-block-wrap .custom-content .img-wrap {
    width: 353px;
    height: 265px;
    position: relative;
    display: inline-block;
    margin-right: 20px
}

.toggle-block-wrap .custom-content .img-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 175px;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.3s;
    text-align: center;
    font-size: 20px;
    cursor: pointer
}

.toggle-block-wrap .custom-content .img-cover i {
    font-size: 20px
}

.toggle-block-wrap .custom-content .img-cover:hover {
    opacity: 0.7;
    filter: alpha(opacity=70)
}

.toggle-block-wrap .btn-wrap {
    padding-left: 155px;
    margin-top: 30px
}

.toggle-block-wrap .btn-wrap .call-btn-1 {
    background-color: #f2044d;
    float: left;
    color: #fff;
    border-radius: 20px;
    vertical-align: middle
}

.toggle-block-wrap .btn-wrap .call-btn-1:hover {
    opacity: 0.7;
    filter: alpha(opacity=70)
}

.toggle-block-wrap .btn-wrap .phone-mid {
    float: left;
    font-size: 14px;
    color: #666;
    vertical-align: middle;
    margin: 8px 20px 0 20px
}

.toggle-block-wrap .btn-wrap .custom-btn-1 {
    background-color: #00a9b3;
    float: left;
    color: #fff;
    border-radius: 20px;
    vertical-align: middle;
    width: 96px
}

.toggle-block-wrap .btn-wrap .custom-btn-1:hover {
    opacity: 0.7;
    filter: alpha(opacity=70)
}

.p-10 {
    padding: 10px
}

.custom-content {
    padding: 45px 0 30px 50px;
    position: relative
}

.custom-content .input-group-addon {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 80%
}

@media (min-width: 768px) {
.custom-content .left-dot {
    background: url("../img/circle.png") no-repeat center center;
    display: block;
    width: 85px;
    height: 85px;
    color: #fff;
    line-height: 85px;
    font-size: 22px;
    font-weight: bold;
    margin: 0 auto;
    position: absolute;
    left: -45px;
    top: -20px;
    text-align: center
}
}
.custom-content .left-dot {
    background: url("../img/circle.png") no-repeat center center;
background-size: contain;
    display: block;
    width: 50px;
    height: 50px;
    color: #fff;
    line-height: 50px;
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto;
    position: absolute;
    left: -20px;
    top: -30px;
    text-align: center

}

.custom-content .first-block,
.custom-content .second-block,
.custom-content .four-block,
.custom-content .five-block,
.custom-content .six-block {
    position: relative;
    padding-left: 20px;
    border-left: 4px solid #0fcad5
}

@media (min-width: 768px) {
    .custom-content .first-block,
    .custom-content .second-block,
    .custom-content .four-block,
    .custom-content .five-block,
    .custom-content .six-block {
        position: relative;
        padding-left: 80px;
        border-left: 10px solid #0fcad5
    }
}

.custom-content .first-block {
    padding-bottom: 75px;
}

.custom-content .second-block {
    padding-bottom: 80px
}

.custom-content .four-block {
    padding-bottom: 55px;
    padding-right: 200px
}

.custom-content .five-block {
    padding-bottom: 90px
}

.custom-content .h3 {
    font-size: 28px;
    font-family: "Microsoft YaHei";
    color: #0fcad5;
    margin: 0
}

.custom-content .label-ctrl {
    width: 120px;
    float: left;
    vertical-align: middle;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: #333;
    font-weight: bold;
    padding-top: 3px
}

.custom-content .input-wrap-control {
    float: left;
    width: 282px;
    height: 30px;
    vertical-align: middle
}

.custom-content .input-wrap-control .form-control {
    height: 34px
}

.custom-content .s-list {
    margin-top: 40px
}

.custom-content .s-item {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    border: 1px solid #0fcad5;
    margin-right: 20px
}

.custom-content .s-item a {
    height: 50px;
    line-height: 50px;
    display: block;
    color: #333
}

.custom-content .s-item a:hover {
    background-color: #0fcad5;
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.custom-content .s-item.active a {
    color: #fff;
    background-color: #0fcad5
}

.custom-content .f-item {
    display: inline-block;
    width: 200px;
    padding: 30px 0 10px 0;
    text-align: center;
    float: left
}

.custom-content .tour-img {
    width: 120px;
    height: 120px;
    border-radius: 100%
}

.custom-content .tour-place {
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: #666;
    margin-top: 5px
}

.custom-content .five-row {
    position: relative;
    padding-left: 90px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: #333;
    vertical-align: middle
}

.custom-content .row-title {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: #333;
    font-weight: bold
}

.custom-content .five-label {
    line-height: 17px;
    vertical-align: middle
}

.custom-content .five-item {
    display: inline-block;
    float: left;
    margin-left: 20px;
    width: 280px
}

.custom-content .protocol {
    color: #48b9e8
}

.custom-content .protocol:hover {
    text-decoration: none;
    opacity: 0.6;
    filter: alpha(opacity=60)
}

.custom-content .chan1 {
    background: url(../img/circle2.png) 0 3px no-repeat;
    height: 35px;
    line-height: 35px;
    margin-left: -100px;
    margin-top: 20px;
}

.custom-content .chan1 li {
    float: left;
}

.custom-content .chan1 .a1 {
    width: 100px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.custom-content .chan1 .a2 {
    margin-left: -116px;
    font-size: 14px;
}

.custom-content .chan1 .a2 p {
    padding: 0;
    top: 0;
    left: 0;
}

.all-about-wrap {
    padding: 30px 85px 50px 85px;
    background-color: #00a9b3;
    margin-bottom: 60px;
    color: #fff
}

.all-about-wrap .a-a-nav-item {
    display: inline-block;
    float: left;
    height: 45px;
    font-size: 24px;
    margin-right: 35px
}

.all-about-wrap .a-a-nav-item.active .a-a-n-a {
    border-radius: 20px;
    border: 1px solid #fff;
    margin-top: -1px;
    padding: 0 15px
}

.all-about-wrap .a-a-n-a {
    color: #fff;
    display: block;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    padding: 0 16px
}

.all-about-wrap .a-a-n-a:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
    border-radius: 20px;
    border: 1px solid #fff;
    margin-top: -1px;
    padding: 0 15px
}

.all-about-wrap .a-about-content {
    padding: 30px 16px;
    line-height: 45px;
    font-size: 17px;
}

.all-about-wrap .a-a-t {
    margin-top: 20px;
    font-size: 18px
}

.all-about-wrap .a-a-w {
    font-size: 18px;
    margin-top: 10px
}

.taoc {
    font-family: 'Microsoft YaHei';
    background: #f8f8f8;
}

.tc-c {
}

.taoc h2 {
    height: 100px;
    margin: 0 auto;
    text-align: center;
}

.taoc h2 a {
    //float: left;
    display: inline-block;
    width: 163px;
    height: 46px;
    margin-right: 19px;
    margin-left: 19px;
    text-align: center;
    line-height: 46px;
    font-size: 20px;
    font-weight: normal;
    color: #333333;
    border: 1px solid #898989;
    border-radius: 30px;
}

.taoc h2 .a-last {
    margin: 0;
}

.taoc h2 a:hover,
.taoc h2 a.cur {
    color: #ffffff;
    background: #f1503e;
    border-color: #f1503e;
}

.taoc h3 {
    padding: 0 0 73px 0;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    color: #343434;
}

.taoc h3 small {
    display: block;
    padding: 3px 0 0 0;
    font-size: 18px;
    color: #343434;
}

.taoc h3 small span {
    color: #f1503e;
}

.taoc ul {
    height: 394px;
}

.taoc li {
    position: relative;
    float: left;
    width: 282px;
    padding: 0 117px 0 0;
}

.taoc li p {
    position: absolute;
    left: 58px;
    top: 60px;
}

.taoc .li-last {
    padding-right: 0;
    background: none;
}

.taoc h4 {
    padding: 70px 0 40px 0;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    color: #343434;
}

.m-nav02 h2 {
    height: 58px;
}

.m-nav02 h2 a {
    float: left;
    _display: inline;
    width: 163px;
    height: 46px;
    margin-right: 38px;
    text-align: center;
    line-height: 46px;
    font-size: 20px;
    font-weight: normal;
    color: #333333;
    border: 1px solid #898989;
    border-radius: 30px;
}

.m-nav02 h2 .a-last {
    margin: 0;
}

.m-nav02 h2 a:hover,
.m-nav02 h2 a.cur {
    color: #ffffff;
    background: #f1503e;
    border-color: #f1503e;
}
.test-mobile{
    display: inline-block !important;
    height: 30px !important;
    margin:0 !important;
    color: #333;
    padding: 0 4px;
width: 100px!important;
    line-height: 30px !important;
    border: 1px solid #898989 !important;
    border-radius: 30px;
    margin-bottom: 30px;
    font-size: 14px!important;
}
.taoc_con{
    margin-top: 40px;
}
.taoc_con p {
    line-height: 36px;
    color: #333333;
    font-size: 14px;
}

.tc-main {
    height: 743px;
}

.tc-txt {
    width: 555px;
    padding: 35px 0 0 124px;
}

.tc-txt h5 {
    padding-bottom: 25px;
    font-size: 26px;
    font-weight: normal;
    color: #000000;
}

.tc-txt h5 span {
    color: #f1503e;
}

.tc-txt p {
    line-height: 36px;
    color: #333333;
    font-size: 14px;
}

.tc-img {
    width: 287px;
    margin: 60px 23px 0 0;
}

.tc-img h5 {
    position: relative;
    margin-top: 30px;
}

.tc-img h5 img {
    width: 100%;
}

.tc-img h5 .a-imgx {
    display: none;
    position: absolute;
    left: 13px;
    top: 23px;
    width: 343px;
    height: 218px;
}

.tc_fx1 {
    height: 168px;
}

.tc_fx2 {
    height: 147px;
}

.tc_fx3 {
    height: 168px;
}

.tc_fx4 {

    height: 147px;
}

.tc_fx5 {
    height: 168px;
}

.tc_fx6 {
    height: 147px;
}

.tc-main1 {
    height: auto;
    overflow: hidden;
}

.tc-main1 .tc-txt {
    width: 580px;
    padding: 20px 0 0 155px;
}

.tc-main1 .tc-img {
    margin: 50px 0 0 0;
}

.tc-main2 {
    height: auto;
    overflow: hidden;
}

.tc-main2 .tc-txt {
    width: 580px;
    padding: 20px 82px 0 0;
}

.tc-main2 .tc-img {
    margin: 60px 0 0 77px;
}

.tc-main3 {
    height: auto;
    overflow: hidden;
}

.tc-main3 .tc-txt {
    width: 580px;
    padding: 20px 0 0 155px;
}

.tc-main3 .tc-img {
    margin: 50px 0 0 0;
}

.tc-main4 {
    height: auto;
    overflow: hidden;
}

.tc-main4 .tc-txt {
    width: 580px;
    padding: 20px 82px 0 0;
}

.tc-main4 .tc-img {
    margin: 60px 0 0 77px;
}

.tc-main5 {
    height: auto;
    overflow: hidden;
}

.tc-main5 .tc-txt {
    width: 580px;
    padding: 20px 0 0 155px;
}

.tc-main5 .tc-img {
    margin: 50px 0 0 0;
}

.tc-main6 {
    height: auto;
    overflow: hidden;
}

.tc-main6 .tc-txt {
    width: 580px;
    padding: 20px 82px 0 0;
}

.tc-main6 .tc-img {
    margin: 60px 0 0 77px;
}

.tc-main7 {
    height: auto;
    overflow: hidden;
}

.tc-main7 .tc-txt {
    width: 580px;
    padding: 20px 0 0 155px;
}

.tc-main7 .tc-img {
    margin: 50px 0 0 0;
}

.taoc h6 {
    height: 43px;
    padding: 0 200px;
    text-align: center;
    font-size: 12px;
    font-weight: normal;
    line-height: 43px;
    color: #555555;
}

.taoc h6 a,
.gggg1 p a {
    width: 164px;
    height: 43px;
    line-height: 43px;
    font-size: 20px;
    color: #ffffff;
    background: #f1503e;
    border-radius: 30px;
}

.taoc h6 .a2 {
    background: #12b7f5;
}

.gggg1 {
    height: 690px;
}

.gggg1 p {
    padding: 565px 0 0 0;
    text-align: right;
}

.gggg1 p a {
    display: inline-block;
    text-align: center;
    background: #12b7f5;
}
.guany h2 {
    height: 58px;
    padding: 81px 0 0 0;
    overflow: hidden;
    zoom: 1;
}

.guany h2 a {
    float: left;
    padding: 0 51px;
    font-size: 18px;
    font-weight: normal;
    color: #626262;
    line-height: 58px;
    border-radius: 6px 6px 0 0;
}

.guany h2 a:hover,
.guany h2 a.cur {
    color: #ffffff;
    background: #f1503e;
}

.gy-c {
    line-height: 30px;
    overflow: hidden;
    padding: 20px 0
}

.gy-c dl {
    padding: 37px 0 0 0;
}

.gy-c dt {
    float: left;
    width: 483px;
}

.gy-c dt img {
    width: 483px;
}

.gy-c dd {
    float: right;
    width: 525px;
    height: 294px;
    padding: 0 15px 0 0;
    font-size: 14px;
    color: #333333;
    line-height: 35px;
    overflow: hidden;
}

.gy-c dd span {
    display: block;
    padding: 0 0 15px 0;
    font-size: 18px;
}